@font-face {
  font-family: "Nerko One";
  src: url("../fonts/NerkoOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
:root {
  --bg-color: #ececec;
  --black-color: #000;
  --secondary-color: #595c5f;
}

:root:has(#mode:checked) {
  --bg-color: #011627;
  --black-color: #fff;
  --secondary-color: #fff;
}

::-moz-selection {
  background-color: #b85b1e;
}

::selection {
  background-color: #b85b1e;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: #000000 #f1f1f1;
  }
}

.container {
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline: 15px;
}
@media (min-width: 768px) {
  .container .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container .container {
    width: 1170px;
  }
}

h1 {
  font-size: 55px;
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 40px !important;
  }
}
@media screen and (max-width: 426px) {
  h1 {
    font-size: 30px !important;
  }
}

h3 {
  font-size: 35px;
}
@media screen and (max-width: 1200px) {
  h3 {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 426px) {
  h3 {
    font-size: 22px !important;
  }
}

p {
  font-size: 18px;
}
@media screen and (max-width: 1200px) {
  p {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 426px) {
  p {
    font-size: 14px !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: unset;
}
@media screen and (max-width: 320px) {
  a {
    font-size: 14px !important;
  }
}

i {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  margin-bottom: 15px;
  cursor: pointer;
}

@media screen and (min-width: 1300px) {
  .lg-width {
    width: calc(100% - 330px);
    left: 330px !important;
  }
}

.pageWidth {
  width: calc(100% - 330px);
}
@media screen and (max-width: 320px) {
  .pageWidth {
    width: calc(100% - 280px);
  }
}

.grey-color {
  color: #a9a9a9 !important;
}

.active {
  color: #e20000 !important;
  font-weight: bold !important;
}

.show_dev_img {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 6;
  display: flex;
  justify-content: center;
}
.show_dev_img .image {
  margin-top: 50px;
  position: absolute;
  background-image: url("../assets/portfolio_img.avif");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
  width: 700px;
  height: 500px;
  transform: translateX(-50%);
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .show_dev_img .image {
    width: 90%;
  }
}
.show_dev_img img {
  max-width: 100%;
}
.show_dev_img .close_btn {
  position: absolute;
  top: 20px;
  right: 7px;
  color: #fff;
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}
.loading .loader {
  display: block;
  position: relative;
  top: 400px;
  height: 20px;
  width: 140px;
  background-image: linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0);
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: 0 0, 40px 0, 80px 0, 120px 0;
  animation: pgfill 1s linear infinite;
}

@keyframes pgfill {
  0% {
    background-image: linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0);
  }
  25% {
    background-image: linear-gradient(#ff3d00 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0);
  }
  50% {
    background-image: linear-gradient(#ff3d00 20px, transparent 0), linear-gradient(#ff3d00 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0);
  }
  75% {
    background-image: linear-gradient(#ff3d00 20px, transparent 0), linear-gradient(#ff3d00 20px, transparent 0), linear-gradient(#ff3d00 20px, transparent 0), linear-gradient(#fff 20px, transparent 0);
  }
  100% {
    background-image: linear-gradient(#ff3d00 20px, transparent 0), linear-gradient(#ff3d00 20px, transparent 0), linear-gradient(#ff3d00 20px, transparent 0), linear-gradient(#ff3d00 20px, transparent 0);
  }
}
nav {
  z-index: 4;
  background-color: #fff;
  left: 0;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
}
nav .nav_item {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 1300px) {
  nav .nav_item, nav .nav_item i {
    cursor: auto;
  }
}
nav .fa-facebook {
  color: #0000ff;
}
nav .fa-linkedin {
  color: #0077b0;
}
nav .fa-envelope {
  color: #f7b80c;
}
nav .fa-square-instagram {
  color: #c42828;
}

aside {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 330px;
  padding-block: 25px;
  padding-inline-end: 20px;
  box-shadow: inset -15px 0px 12px -10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
}
aside::-webkit-scrollbar {
  width: 8px;
}
aside::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}
aside::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}
@media screen and (max-width: 320px) {
  aside {
    width: 280px;
  }
}
aside .top {
  padding-inline-start: 20px;
}
aside .top .dev_image img {
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
}
aside .top .top_title {
  font-size: 15px;
  font-weight: bold;
}
aside .top p {
  font-size: 14px;
  font-weight: 500;
}
aside .tableContent {
  padding-inline-start: 20px;
}
aside .tableContent i {
  cursor: auto;
}
aside .links li {
  border-bottom: solid 1px rgba(120, 120, 120, 0.3);
  padding: 10px 0 0 20px;
  min-height: 40px;
  margin: 0;
  width: 330px;
}
aside .links li a {
  color: #a9a9a9;
  transition: all 0.5s;
  display: inline-block;
  width: 100%;
}
aside .links li a:hover {
  color: #e20000;
}
aside .QR_code {
  width: 300px;
  height: 170px;
  display: flex;
  justify-content: center;
  margin: auto;
}
aside .QR_code img {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 320px) {
  aside .QR_code {
    width: 260px;
  }
}

.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}
.switch .slider::before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}
.switch input:checked + .slider {
  background-color: #303136;
}
.switch input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.mainPage {
  overflow-x: hidden;
}

.right_content {
  background: radial-gradient(circle at top left, transparent 25%, rgba(226, 0, 0, 0.3) 25.5%, rgba(226, 0, 0, 0.3) 36%, transparent 37%, transparent 100%), radial-gradient(circle at bottom right, transparent 34%, rgba(226, 0, 0, 0.3) 34.5%, rgba(226, 0, 0, 0.3) 45.5%, transparent 46%, transparent 100%);
  background-color: var(--bg-color);
  overflow-x: hidden;
  background-size: cover;
  z-index: 3;
}
@media screen and (max-width: 1299px) {
  .right_content {
    width: 100%;
  }
}
.right_content .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 40px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .right_content .content {
    display: block;
    padding-bottom: 0;
    padding-top: 25px;
    height: calc(100% - 15px);
  }
}
@media screen and (min-width: 769px) {
  .right_content .text {
    max-width: 50%;
  }
}
.right_content .text h1 {
  color: var(--black-color);
  text-shadow: 1px 1px 3px var(--black-color);
}
.right_content .text h3 {
  color: #e20000;
}
.right_content .text p {
  color: var(--black-color);
}
.right_content button {
  --bg: #000;
  --hover-bg: rgba(226, 0, 0, 0.5);
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 1em;
  background: var(--bg);
  transition: 0.2s;
}
.right_content button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}
.right_content button:active {
  transform: translate(0);
  box-shadow: none;
}
@media screen and (max-width: 426px) {
  .right_content button {
    color: var(--black-color);
    background-color: rgba(226, 0, 0, 0.5);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
}
@media screen and (max-width: 320px) {
  .right_content button {
    padding-inline: 5px;
  }
}
.right_content .image {
  width: 100%;
}
@media screen and (min-width: 1300px) {
  .right_content .image {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .right_content .image {
    width: 300px;
    margin: auto;
  }
}
.right_content .dev_image img {
  width: 100px;
}
.right_content .loop-slider {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  padding: 1.5rem 0;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
}
@media screen and (max-width: 768px) {
  .right_content .loop-slider {
    padding: 15px 0;
    position: unset;
  }
}
.right_content .loop-slider .inner {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}
.right_content .loop-slider .inner:hover {
  animation-play-state: paused;
}
.right_content .loop-slider .skill {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}
.right_content .loop-slider .skill img {
  width: 70px;
}
@media screen and (max-width: 768px) {
  .right_content .loop-slider .skill img {
    width: 40px;
  }
}
@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#about .iframep {
  margin: 0;
  height: 100vh;
}
#about .iframep iframe {
  height: 100%;
}
@media screen and (max-width: 767px) {
  #about .iframep {
    display: none;
  }
}
#about .right_content_bg img {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  #about .right_content_bg {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  #about .right_content_bg {
    display: none;
  }
}
#about .vijua {
  color: #e20000;
}
#about .styles_section {
  padding: 15px 0;
  background-color: #000;
  display: flex;
}
@media screen and (max-width: 425px) {
  #about .styles_section {
    height: 300px;
  }
}
#about .styles_section .about_img1 {
  background-color: #000;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
}
#about .styles_section .about_img1 * {
  text-align: left;
}
#about .styles_section img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
#about .styles_section figcaption {
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 30px 10px 30px 30px;
  background-color: rgba(0, 0, 0, 0.9);
  border-right: 0.01px solid;
  width: 40%;
}
@media screen and (min-width: 992px) {
  #about .styles_section figcaption {
    transform: translateX(-460%);
  }
}
@media screen and (max-width: 320px) {
  #about .styles_section figcaption {
    padding-left: 15px !important;
  }
}
#about .styles_section figcaption::before {
  content: "";
  left: 100%;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 418px;
  border-left-width: 0px;
  border-bottom: 616px solid rgba(0, 0, 0, 0.9);
}
#about .styles_section figcaption h3 {
  font-weight: 900;
  margin-top: 35%;
  margin-bottom: 31px;
  color: #fff;
  font-size: 22.4px;
  position: relative;
}
@media screen and (max-width: 500px) {
  #about .styles_section figcaption h3 {
    font-size: 1em !important;
  }
}
#about .styles_section figcaption p {
  font-size: 15.2px;
  position: relative;
}
@media screen and (max-width: 500px) {
  #about .styles_section figcaption p {
    font-size: 0.8em !important;
  }
}
#about .styles_section figcaption span,
#about .styles_section figcaption p {
  color: #fff;
}
#about .styles_section:hover figcaption {
  transform: translateX(0);
}
@media screen and (max-width: 768px) {
  #about .styles_section .doodle p {
    width: 300px;
  }
}
@media screen and (max-width: 375px) {
  #about .styles_section .doodle p {
    width: 250px;
  }
}
@media screen and (max-width: 768px) {
  #about .styles_section .doodle::before {
    border-right-width: 1200px;
  }
}
#about .grid_conatiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 768px) {
  #about .grid_conatiner {
    display: block;
  }
}
#about .grid_conatiner img {
  height: 100%;
}
#about .grid_conatiner h3 {
  width: 200px;
}
#about .grid_conatiner p {
  width: 240px;
}
#about .grid_conatiner .grid_leftSide {
  grid-row-start: 1;
  grid-row-end: 2;
  height: 800px;
  padding-top: 0;
}
#about .grid_conatiner .grid_leftSide figcaption::before {
  border-bottom: 950px solid rgba(0, 0, 0, 0.9);
}
#about .grid_conatiner .grid_leftSide h3 {
  margin-top: 200px;
}
@media screen and (max-width: 768px) {
  #about .grid_conatiner .grid_leftSide h3 {
    margin-top: 90px;
  }
}
@media screen and (max-width: 768px) {
  #about .grid_conatiner .grid_leftSide p {
    width: 230px;
  }
}
#about .grid_conatiner .grid_rightSide .styles_section {
  height: 400px;
  padding-top: 0;
  padding-left: 15px;
}
@media screen and (max-width: 768px) {
  #about .grid_conatiner .grid_rightSide .styles_section {
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  #about .grid_conatiner .grid_rightSide .styles_section h3 {
    margin-top: 65px;
  }
}
@media screen and (max-width: 768px) {
  #about .grid_conatiner .grid_leftSide,
  #about .grid_conatiner .grid_rightSide {
    height: auto;
  }
}

.scene {
  position: relative;
  height: 100%;
  background: url("../assets/drawing-bw1.avif") no-repeat fixed;
  padding: 22rem;
  text-align: center;
  background-size: cover;
}

.magic {
  z-index: 5;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 200px;
  height: 200px;
  background: url("../assets/drawing.avif") no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
}

#skills .box {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-radius: 10px;
}
#skills .box .lightBulb {
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
}
#skills .box .skills_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#skills .box .skills_holder .skill {
  width: calc(33.33% - 30px);
  height: 160px;
  background: rgba(169, 169, 169, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(169, 169, 169, 0.3);
  margin: 5px;
  border-radius: 5px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #skills .box .skills_holder .skill {
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 375px) {
  #skills .box .skills_holder .skill {
    width: calc(100% - 30px);
  }
}
#skills .box .skills_holder .skill:hover::before,
#skills .box .skills_holder .skill:hover .right_bottom::before {
  width: 100%;
  background-color: var(--black-color);
}
#skills .box .skills_holder .skill:hover::after,
#skills .box .skills_holder .skill:hover .right_bottom::after {
  height: 100%;
  background-color: var(--black-color);
}
#skills .box .skills_holder .skill img {
  width: 100px;
  height: 100px;
}
#skills .box .skills_holder .skill p {
  margin-block: 10px;
  font-weight: bold;
}
#skills .box .skills_holder .skill::before, #skills .box .skills_holder .skill::after {
  content: "";
  position: absolute;
  background-color: #e20000;
  border-radius: 5px;
  transition: 0.3s;
}
#skills .box .skills_holder .skill::before {
  top: -1px;
  left: 0;
  width: 25%;
  height: 2px;
}
#skills .box .skills_holder .skill::after {
  top: 0;
  left: -1px;
  width: 2px;
  height: 50%;
}
#skills .box .skills_holder .skill .right_bottom {
  position: relative;
  padding: 10px 20px;
  height: 100%;
  border-radius: 5px;
}
#skills .box .skills_holder .skill .right_bottom::before, #skills .box .skills_holder .skill .right_bottom::after {
  content: "";
  position: absolute;
  background-color: #e20000;
  border-radius: 5px;
  transition: 0.3s;
}
#skills .box .skills_holder .skill .right_bottom::before {
  right: 0;
  bottom: -1px;
  width: 25%;
  height: 2px;
}
#skills .box .skills_holder .skill .right_bottom::after {
  right: -1px;
  bottom: 0;
  width: 2px;
  height: 50%;
}
#skills img {
  width: 100%;
  max-width: 100%;
}

#projects .iframep {
  margin: 0;
  height: 100vh;
}
#projects .iframep iframe {
  height: 100%;
}
@media screen and (max-width: 767px) {
  #projects .iframep {
    display: none;
  }
}
#projects .right_content_bg img {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  #projects .right_content_bg {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  #projects .right_content_bg {
    display: none;
  }
}
#projects .banner {
  height: 100vh;
  background-image: url("../assets/videoBg.gif");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  #projects .banner {
    height: 300px;
  }
}
#projects .banner h1 {
  color: #fff;
  font-size: 70px;
  letter-spacing: 15px;
  font-weight: bold;
  font-family: "Nerko One";
  text-transform: uppercase;
}
#projects .project_holder .item {
  background-color: #000000;
  border-radius: 15px;
  padding: 10px;
  padding-bottom: 45px;
  overflow: hidden;
}
#projects .project_holder .item .project_img {
  padding: 25px 15px;
  padding-bottom: 25px;
  border-radius: 15px;
  height: 250px;
  max-height: 250px;
  text-align: center;
  cursor: pointer;
}
#projects .project_holder .item .project_img img {
  border-radius: inherit;
  transition: all 0.5s;
  filter: grayscale(1);
  height: 100%;
}
#projects .project_holder .item .title {
  padding-inline: 45px;
  color: #fff;
}
@media screen and (max-width: 374px) {
  #projects .project_holder .item .links {
    flex-direction: column;
    align-items: center;
  }
}
#projects .project_holder .item .button--janus {
  padding: 1.5rem 3rem;
  position: relative;
  display: inline-block;
  font-weight: 900;
  width: 175px;
  height: 120px;
  color: #fff;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#projects .project_holder .item .button--janus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
  clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
  transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), -webkit-clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), background 0.5s ease;
}
#projects .project_holder .item .button--janus:hover::before {
  background: #000;
  -webkit-clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
  clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
}
#projects .project_holder .item .button--janus::after {
  content: "";
  position: absolute;
  height: 86%;
  width: 97%;
  top: 5%;
  left: 0;
  border-radius: 58% 42% 55% 45%/56% 45% 55% 44%;
  border: 1px solid #fff;
  transform: rotate(-20deg);
  transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
}
#projects .project_holder .item .button--janus:hover::after {
  transform: translate3d(0, -5px, 0);
}
#projects .project_holder .item .button--janus a, #projects .project_holder .item .button--janus i {
  display: block;
  transition: transform 0.3s ease;
  mix-blend-mode: difference;
  z-index: 5;
}
#projects .project_holder .item .button--janus:hover a, #projects .project_holder .item .button--janus:hover i {
  transform: translate3d(0, -10px, 0);
}

.scene2 {
  position: relative;
  height: 100%;
  background: url("../assets/Projects-bw.avif") no-repeat fixed;
  padding: 22rem;
  text-align: center;
  background-size: cover;
}

.magic2 {
  z-index: 5;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 200px;
  height: 200px;
  background: url("../assets/Projects.avif") no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
}

#contact .container {
  color: var(--black-color);
}
@media screen and (min-width: 576px) {
  #contact .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 426px) {
  #contact .container {
    padding-inline: 20px !important;
  }
}
#contact .row {
  margin-top: 60px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 2px 3px 10px -1px #333;
}
@media screen and (max-width: 767px) {
  #contact .row {
    margin-top: 0;
  }
}
#contact .info {
  box-shadow: 0px 1px 3px -1px #333;
  background: rgba(85, 85, 85, 0.2);
  box-shadow: 0 4px 30px rgba(85, 85, 85, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(85, 85, 85, 0.3);
}
#contact .imageGif {
  height: 300px;
}
#contact .infoCol {
  margin-block: -70px;
}
@media screen and (max-width: 767px) {
  #contact .infoCol {
    margin-block: 0px;
  }
}
#contact i {
  color: #e20000;
  font-size: 20px;
  cursor: auto;
}
#contact .input-icon i {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 4;
  padding: 10px;
  transform: translateY(-50%);
  width: 40px;
}
#contact .form-control {
  border: none;
  box-shadow: 0px 1px 3px -1px #333;
  background: rgba(236, 236, 236, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(236, 236, 236, 0.3);
  padding-inline-start: 35px;
}
#contact .form-control:focus {
  outline: none;
  color: var(--black-color);
}
#contact .form-control::-moz-placeholder {
  color: var(--secondary-color);
}
#contact .form-control::placeholder {
  color: var(--secondary-color);
}
#contact textarea {
  resize: none;
}
@media screen and (max-width: 426px) {
  #contact button {
    color: var(--hover-text);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
}
#contact button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
@media screen and (max-width: 768px) {
  #contact .details {
    padding-inline-start: 0px !important;
  }
}
@media screen and (max-width: 375px) {
  #contact .details div {
    font-size: 14px;
  }
}
#contact .contactAnimation {
  position: relative;
}
#contact .contactAnimation span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: animate 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
#contact .submit_success {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
#contact .submit_success .upper {
  background-color: #8bc349;
  color: #fff;
  padding: 30px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#contact .submit_success .upper i {
  color: #4f890a !important;
}
#contact .submit_success .lower {
  background-color: #fff;
  color: #a9a9a9;
  padding: 30px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#contact .submit_success i {
  cursor: auto;
}
#contact .submit_success button {
  background-color: #8bc349;
  border: none;
}/*# sourceMappingURL=style.css.map */
